.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--textSoft);
  padding: 20px;
}

.logo {
  font-weight: bold;
}

.text {
  font-size: 12px;
}
