.container {
  padding: 15px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0px 5px;
  /* border-radius: 5px; */
  font-size: 12px;
  color: gray;
}

.container:hover,
.active {
  border-bottom: 1px solid var(--textSoft);
  color: black;
}

.dropdown{
  display: flex;
  position: absolute;
  background-color: aliceblue;
  padding: 10px;
  font-size: 12px;
  font-weight: 300;
  top: 5%;
  left: 17%;
}

.dropdownContainer{
  display: flex;
  padding: 5px;
}
