.container {
  display: flex;
}

.menu {
  flex: 1;
  background-color: var(--bgSoft);
  padding: 20px;
  min-height: 100vh;
}

.content {
  flex: 4;
  /* padding: 20px; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
}

.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--bgSoft);
  border-radius: 10px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content:space-between;
}

.interviews{
  flex: 1;
  width: 100%;
}
.todolist{
  flex: 1;
  width: 100%;
}

.side {
  flex: 1;
}
