.container{
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter{
  display: flex;
  gap: 10px;
}

.addButton{
  padding: 10px;
  background-color: #5d57c9;
  color: var(--bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addButton:hover{
  background-color: var(--textSoft);
}

.table{
  width: 100%;
  font-size: 11px;
  padding: 3px;
}

.bb{
  border-bottom: 1px solid rgb(182, 182, 182);
}
.tableHead{
  border-bottom: 3px solid var(--text);
}

.table td{
  padding: 10px;
}

.product{
  display: flex;
  align-items: center;
  gap: 10px;
}

.productImage{
  border-radius: 50%;
  object-fit: cover;
}

.buttons{
  display: flex;
  gap: 10px;
}

.button{
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--bgSoft);
  border: none;
  cursor: pointer;
}

.view{
  background-color: teal;
}

.edit{
  background-color: rgb(49, 78, 132);
}

.delete{
  background-color: crimson;
}

.user{
  display: flex;
  align-items: center;
  gap: 10px;
}

.userImage{
  border-radius: 50%;
  object-fit: cover;
}

